<div
  class="content-wrap divcenter nobottompadding norightpadding noleftpadding"
>
  <div
    class="
      container
      clearfix
      divcenter
      nobottompadding
      norightpadding
      noleftpadding
    "
    id="body_inside_conteudo_on_div"
    
  >
    <div class="col_full divcenter nobottommargin">
      <div class="heading-block">
        <h4 [hidden]="formEdit"><span>Cadastro do Anúncio</span></h4>
        <h4 [hidden]="!formEdit"><span>Editar Anúncio</span></h4>
        <span></span>
      </div>
      <div class="col_full divcenter nobottommargin col_last"></div>
      <div class="col_half nobottommargin">
        <div class="font-primary">
          <h4>Anuncie Grátis</h4>
          <p>
            Você já informou quais são seus resíduos gerados (venda) e de
            interesse (compra)?<br />
            <strong
              >Você pode atualizar as informações e receber sugestões de como
              anúnciar.</strong
            ><br />
          </p>
        </div>
      </div>
      <form
        #new="ngForm"
        (ngSubmit)="formEdit ? updateAnuncio(new.value) : onSubmit(new.value)"
        id="anuncio_new"
        name="anuncio_new"
        class="divcenter nobottommargin"
      >
        <input type="hidden" name="csrfmiddlewaretoken" value="" />
        <div class="col_full" id="start_anuncio">
          <div
            class="col_half nopadding nobottommargin"
            style="line-height: 28px !important"
          >
            <div class="col_full bottommargin-sm">
              <div class="col_last">
                <a
                  name="type_deal"
                  class="pop-me-over"
                  data-toggle="popover"
                  data-placement="top"
                  data-content=""
                  data-title="Qual o tipo de anúncio?"
                  data-original-title=""
                  title=""
                ></a>
              </div>
              <label>Qual o tipo de anúncio?</label>
              <div
                class="col_full bottommargin-sm"
              
              >
                <div class="">
                  <input
                    type="radio"
                    name="TipoNegocio"
                    value="1"
                    for="TipoNegocio"
                    form="tipoNegocio"
                    class="radio-style"
                    id="tipoNegocio"
                    [(ngModel)]="anuncio ? anuncio.tipoNegocio : residuo.tipoNegocio"
                    required=""
                  />
                  <label class="radio-style-1-label" for="id_TipoNegocio0"
                    >Venda</label
                  >
                </div>
                <div class="">
                  <input
                    type="radio"
                    name="TipoNegocio"
                    value="2"
                    form="TipoNegocio"
                    class="radio-style"
                    id="TipoNegocio"
                    [(ngModel)]="anuncio ? anuncio.tipoNegocio : residuo.tipoNegocio"
                    required=""
                  />
                  <label class="radio-style-1-label" for="id_tipoNegocio1"
                    >Compra</label
                  >
                </div>
                <div class="">
                  <input
                    type="radio"
                    name="TipoNegocio"
                    value="3"
                    form="tipoNegocio"
                    class="radio-style"
                    id="tipoNegocio"
                    [(ngModel)]="anuncio ? anuncio.tipoNegocio : residuo.tipoNegocio"
                    required=""
                  />
                  <label class="radio-style-1-label" for="id_tipoNegocio2"
                    >Doação</label
                  >
                </div>
               
              </div>
            </div>
          </div>
          <div class="col_half col_last">
            <div class="col_full bottommargin-sm">
              <div class="col_last">
                <a
                  class="pop-me-over"
                  data-toggle="popover"
                  data-placement="top"
                  data-content="Escolha o tipo de resíduo."
                  data-title="Categoria"
                  data-original-title=""
                  title=""
                  ><i
                    class="i-circled i-light i-small icon-info"
                    title="Escolha o tipo de resíduo."
                  ></i
                ></a>
              </div>
              <label>Categoria</label>
              <div class="col_full bottommargin-sm"
              
            >
                <select
                  name="TipoCategoria"
                type = "number"
                  required=""
                  class="form-control"
                  id="TipoCategoria"
                  for="TipoCategoria"
                  [(ngModel)]="anuncio ? anuncio.tipoCategoria : residuo.tipoCategoria"
                  
                >
                  <option value="1">Borracha</option>
                  <option value="2">Classe I (Perigosos)</option>
                  <option value="3">Construção e Demolição</option>
                  <option value="4">Covid-19</option>
                  <option value="5">Eletroeletrônicos</option>
                  <option value="6">Madeira</option>
                  <option value="7">Metais</option>
                  <option value="8">Orgânicos</option>
                  <option value="9">Outros</option>
                  <option value="10">Papel/Papelão</option>
                  <option value="11">Plástico</option>
                  <option value="12">Produtos de 2a linha</option>
                  <option value="13">Químicos</option>
                  <option value="14">Sucata Geral</option>
                  <option value="15">Tecido</option>
                  <option value="16">Vidro</option>
                </select>
                
              </div>
            </div>
            <div class="col_full nobottommargin-sm">
              <div class="col_last">
                <a
                  class="pop-me-over"
                  data-toggle="popover"
                  data-placement="top"
                  data-content="Digite, aperte enter para selecionar ou clique em criar"
                  data-title="Resíduo"
                  data-original-title=""
                  title=""
                >
                </a>
              </div>
              <label> Resíduo</label>
              <div class="col_full bottommargin-sm"
              [ngClass]="{
                'form-group': true,
                'has-danger': !Resnome.valid && !Resnome.pristine,
                'has-success': Resnome.valid && !Resnome.pristine
              }">
                <input
                  type="text"
                  name="Residuo"
                  data-placeholder="Digite o nome resíduo e aperte enter"
                  data-minimum-input-length="2"
                  id="residuo"
                  for="residuo"
                  class="select2-hidden-accessible"
                  aria-hidden="true"
                  #Resnome="ngModel"
                  [(ngModel)]="anuncio ? anuncio.residuo : residuo.residuo"
                  required
                  maxlength="20"
                  minlength="3"
                />
                <div
              class="form-control-feedback"
              [hidden]="Resnome.valid || Resnome.pristine"
            >
              O campo deve ter minimo 3 caratere
            </div>
              </div>

            </div>
          </div>
          <input type="hidden" value="new" name="new" />
          <!-- <input
            name="email"
            value=""
            id="id_hidden_email"
            type="email"
            style="
              position: absolute !important;
              left: -30000px !important;
              opacity: 0 !important;
            "
          />
          <input
            name="empresa_id"
            value="69950"
            id="id_hidden_empresa_id"
            type="number"
            style="
              position: absolute !important;
              left: -30000px !important;
              opacity: 0 !important;
            "
          /> -->
          <div class="col_full nopadding">
            <div class="row nomargin">
              <span class="error_message"></span>
              <button
                class="btn btn-link btn-violet transitions animated fadeIn"
                type="submit"
                id="register-form-submit"
                name="register-form-submit"
                value="Anúnciar"
                (onSubmit) = "new.value"
                [disabled]="!new.valid"
                               
              >{{formEdit ? 'Salvar': 'Anunciar'}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>









  
</div>
