<footer>

    <div id="footer">

    
    <p class="float-end">
    <a href="http://localhost:333/" title="Inicio">
        <img src="assets/LOGOLICRO.png"
                alt="Licro Logo"
                class="visible-xs-inline visible-sm-inline visible-md-inl" width="100">
    </a>
    </p>

    
   <!-- <a title= "youtube" href = "https://youtube.com">
        <img src="assets/redessociais/Youtube.svg" alt="Youtube">
    </a> -->

    
    
    <h2>
        <p >2021 | Licro Ltda  - Todos os direitos reservados</p>
    </h2>


    <div class="info">
        <ul class="nav navbar-nav main-menu">
            <li>
                <a id= "sobrenos" aria-label="Sobre nós" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                  <span>Sobre nós</span>
                </a>
            </li>
            <li>
                <a aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                  <span>Política da Licro</span>
                </a>
            </li>
            <li>
                <a aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Termos de serviço">
                  <span>Termos de serviço</span>
                </a>
            </li>
            <li>
                <a aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Contato">
                  <span>Contato</span>
                </a>
            </li>
            <li>
                <a aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Una-se a Equipe da Licro">
                  <span>Una-se a Equipe da Licro</span>
                </a>
            </li>
            <li>
                <a aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Como funciona">
                  <span>Como funciona</span>
                </a>
            </li>

        </ul>
   </div>
  
    </div>



</footer>